@import url('https://fonts.googleapis.com/css?family=Roboto:400');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #222;
}

#calculator {
	position: relative;
	width: 230px;
	overflow: hidden;
	background: #FFFAFA;
	margin: 0 auto;
}

#title {
	display: flex;
	align-items: center;
	background: white;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

#title img {
	height: 32px;
	width: 32px;
}

#title h2 {
	font-size: 1.3em;
	font-weight: 900;
	margin-left: 7px;
}

#fields {
	padding: 10px;
	padding-bottom: 0;
}

.field, .field-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
}

.field:last-child {
	background: white;
	margin: 10px -10px 0;
	padding: 10px;
	border-top: 1px solid #ddd;
}

p {
	font-size: .9em;
}

#output-area span {
	color: green;
	font-weight: 900;
	font-size: 1.2em;
}

input {
	width: 100%;
	text-align: center;
}

input, select {
	height: 26px;
	font-size: .9em;
}

.tooltip {
	margin-left: 5px;
}

.tooltip:hover .tooltiptext {
	left: 3px;
}

.tooltiptext {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background: white;
	background: #FFFAFA;
	text-align: center;
	font-size: .82em;
	left: 230px;
	top: 3px;
	transition: .7s;
	width: 224px;
	height: 46px;
	line-height: 1.4em;
	border: 1px solid #ddd;
}

.far {
	cursor: pointer;
	font-size: 16px;
	color: gray;
}

.far:hover {
	color: #000;
}

